.header__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo__section {
  width: 85%;
  margin: 1.5em 0;
}

.logo__section .image {
  width: 200px;
}

@media (max-width: 800px) {
  .logo__section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
